.mains{
    margin: 0px;
    height: 729px;
}
.original{
    background-color: #6943FF;
    padding-top: 3px;
    padding-bottom: 20px;
    height: 285px;
}

.titular{
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#figure{
    margin-left: auto;
    margin-right: auto;
    width: 53px;
    height: 50px;
    justify-content: center; 
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#converter {
    display: block;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: normal;
    border-radius: 5px solid;
    
}


.parameters{
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #1F2937;
    padding-top: 60px;
    padding-bottom: 200px;
    margin-top: 40px;
}

#length1{
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: #273549;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    color: white;
}

#volume{
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: #273549; 
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}

#mass{
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: #273549;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}
