.original{
    background-color: #6943FF;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 20px;
}

.titular{
@@ -17,9 +19,11 @@
    width: 53px;
    height: 50px;
    justify-content: center; 
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#converter {
@@ -28,9 +32,11 @@
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: normal;
    border-radius: 5px solid;

}

.length{
@@ -49,6 +55,35 @@
.parameters{
    display: block;
    justify-content: center;
    background: blueviole 
    text-align: center;
    background-color: #1F2937;
    padding-top: 40px;
    padding-bottom: 10px;
}

#length1{
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #273549;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 1px

}

#volume{
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #273549; 
    margin-left: 25px;
    margin-right: 25px;
}

#mass{
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #273549;
    margin-left: 25px;
    margin-right: 25px;
}
